.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
  text-decoration: none;
  color: black;
  transition: opacity 1s ease-in-out;
}

.feynman__link:hover {
  opacity: 45%;
}
